{% extends 'base.html' %}
{% load static %}

{% block title %}carbase.kz - АвтоЦОН онлайн{% endblock %}
{% block styles %}
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/pki.js' %}"></script>
  <script>
    // Название куки
    var cookie = 'enjoyhint_index';
    // Проверяем есть ли кука, если нет запускаем hint
    if (!getCookie(cookie)) {
      // Создаем куку
      setCookie(cookie, 1, 60, '/');
      // Работа с enjoyhint
      var enjoyhint_instance = new EnjoyHint({});
      var enjoyhint_script_steps = [
        {
          selector: '.btn-lg',
          event: 'click',
          description: 'Нажмите здесь для начала процесса перерегистрации',
          skipButton: { text: 'ОК' }
        }
      ];
      enjoyhint_instance.set(enjoyhint_script_steps);
      enjoyhint_instance.run();
    }
  </script>
{% endblock %}

</script> %}


{% block content %}
{% include 'includes/header.html' %}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Вход с помощью ЭЦП</h4>
      </div>
      <div class="modal-body">
        {% include 'includes/login_form.html' %}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Онлайн регистрация автомобилей в Казахстане</h2>
    <p>Все занимает менее часа и без всяких очередей</p>
    {% if request.session.user_commonName %}
      <a href="/cars" class="btn btn-lg btn-primary">Личный кабинет</a>
    {% else %}
      <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#loginModal">Зарегистрировать авто</a>
    {% endif %}
  </div>
</div>

<div class="steps">
  <h2 class="text-center">Как мы работаем</h2>
  <p class="text-center">Пошаговое руководство</p>
  <div class="row">
    <div class="col-md-5ths text-center">
      <img src="/static/img/step1.png">
        <h6><b>РЕГИСТРАЦИЯ</b></h6>
    </div>
    <div class="col-md-5ths text-center">
      <img src="/static/img/step2.png">
      <h6><b data-v-3e142eb6="">ВЫБОР ОПЦИЙ</b></h6>
    </div>
    <div class="col-md-5ths text-center">
      <img src="/static/img/step3.png">
      <h6><b>ПОДПИСАНИЕ С ЭЦП</b></h6>
    </div>
    <div class="col-md-5ths text-center">
      <img src="/static/img/step4.png">
      <h6><b>ЗАПИСЬ НА АКТ СВЕРКИ</b></h6>
    </div>
    <div class="col-md-5ths text-center">
      <img src="/static/img/step5.png">
      <h6><b>ПОЛУЧЕНИЕ НОМЕРА</b></h6>
    </div>
  </div>
</div>

<div class="options">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Нужна помощь?</div>
        <div class="panel-body">
          <p>
            Если у вас есть ЭЦП, но вы затрудняетесь пользоваться нашим сервисом,
            вы можете приехать в любой наш офис и наши сотрудники быстро помогут вам.
            Если у вас есть вопросы, вы можете позвонить или написать нам.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Почему мы?</div>
        <div class="panel-body">
          <p>
            С помощью нашей услуги, вы сможете подать все документы и пройти
            все необходимые процедуры для переоформления/регистрации вашего
            автотранспорта менее чем за 15 минут! После чего, вы можете записаться
            на акт сверки и получить номера.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}