{% load qr_tags %}
<div class="agreement-text">
  <div class="agreement-xml" id="agreementXml{{reregistration.id}}">
    <agreement>
      {% if reregistration.agreement %}
        <title>{{ reregistration.agreement.title }}</title>
      {% else %}
        <title>Договор купли-продажи транспортного средства</title>
      {% endif %}
      <text>
        Гражданин Республики Казахстан {{reregistration.seller}},
        именуемый в дальнейшем «Продавец», с одной стороны, и Гражданин Республики Казахстан {{reregistration.buyer}},
        именуемый в дальнейшем «Покупатель», с другой стороны, вместе именуемые «Стороны», в соответствии с главами 22, 23 и §1 гл. 25 Гражданского Кодекса РК,
        действуя согласно части 2 ст.2 и ст.380 ГК РК, добровольно с целью создания правовых последствий отчуждения и приобретения транспортного средства (номерного агрегата),
        не под влиянием обмана, заблуждения, угроз, насилия или стечения обстоятельств заключили настоящую двустороннюю сделку (договор купли-продажи транспортного средства) (далее - ТС) о нижеследующем:
        Продавец обязуется передать в собственность Покупателя автомобиль: {{car.manufacturer}} {{car.model}}, государственный регистрационный номерной знак {{car.number}}, год выпуска {{car.year}}, цвет {{car.color}}.
        Покупатель обязан оплатить стоимость ТС, указанного в п. 1 настоящего договора в течении 1 (одного) календарного дня с даты подписания настоящего договора.
        Автомобиль, отчуждаемый по настоящей сделке, принадлежит Продавцу на праве собственности на основании:
        Свидетельства о регистрации транспортного средства (СРТС).
        На момент заключения настоящего договора ТС не заложено, не находится под арестом, не является предметом исков третьих лиц.
        На момент заключения настоящего договора Покупатель осмотрел приобретаемое ТС, дефектов и недостатков,
        о которых не был предупрежден Продавцом, не обнаружил, качественным и техническим состоянием приобретаемого ТС удовлетворен,
        претензий к внешнему виду и техническому состоянию не имеет.
        В соответствии с п.3 ст. 368 Налогового Кодекса РК по согласованию сторон уплата Продавцом налога на продаваемое ТС,
        - является исполнением налогового обязательства Покупателя по уплате налога за текущий налоговый период
        по передаваемому объекту налогообложения.
        Продавец обязуется передать ТС, указанный в п. 1 настоящего договора, в течении 1 (одного) календарного дня
        с момента получения денежных средств.
        В соответствии со ст. 384, 385 ГК РК договор является возмездным, исполнение которого оплачивается по цене, установленной соглашением сторон в размере (сумме) {{ reregistration.amount }} тенге, уплачиваемых Покупателем Продавцу.
        С требованиями статьи 152 Гражданского Кодекса Республики Казахстан ознакомлены.
        По соглашению сторон, в соответствии с п.3 ст.152 и п.1. ст. 394 ГК РК договор считается заключённым с момента
        придания ему условленной формы: - после проверки на предмет отсутствия арестов, запретов и ограничений,
        установленных в соответствии с законодательством РК, заверения подписей и скрепления настоящего договора печатью регистрационно-экзаменационного подразделения.
        Несоблюдение указанных требований, в соответствии с п.1 ст.157 ГК РК может повлечь признание настоящей сделки недействительной.
      </text>
    </agreement>
  </div>
  {% if reregistration.agreement %}
    <h3>{{ reregistration.agreement.title }}</h3>
  {% else %}
    <h3>Договор купли-продажи транспортного средства</h3>
  {% endif %}
  <p>
    Гражданин Республики Казахстан {{reregistration.seller}} {{reregistration.seller}},
    именуемый в дальнейшем «Продавец», с одной стороны, и Гражданин Республики Казахстан {{reregistration.buyer}},
    именуемый в дальнейшем «Покупатель», с другой стороны, вместе именуемые «Стороны», в соответствии с главами 22, 23 и §1 гл. 25 Гражданского Кодекса РК,
    действуя согласно части 2 ст.2 и ст.380 ГК РК, добровольно с целью создания правовых последствий отчуждения и приобретения транспортного средства (номерного агрегата),
    не под влиянием обмана, заблуждения, угроз, насилия или стечения обстоятельств заключили настоящую двустороннюю сделку (договор купли-продажи транспортного средства) (далее - ТС) о нижеследующем:
  </p>
  <p>
    Продавец обязуется передать в собственность Покупателя автомобиль: {{car.manufacturer}} {{car.model}}, государственный регистрационный номерной знак {{car.number}}, год выпуска {{car.year}}, цвет {{car.color}}.
  </p>
  <p>
    Покупатель обязан оплатить стоимость ТС, указанного в п. 1 настоящего договора в течении 1 (одного) календарного дня с даты подписания настоящего договора.
  </p>
  <p>
    Автомобиль, отчуждаемый по настоящей сделке, принадлежит Продавцу на праве собственности на основании:
    Свидетельства о регистрации транспортного средства (СРТС).
    На момент заключения настоящего договора ТС не заложено, не находится под арестом, не является предметом исков третьих лиц.
  </p>
  <p>
    На момент заключения настоящего договора Покупатель осмотрел приобретаемое ТС, дефектов и недостатков,
    о которых не был предупрежден Продавцом, не обнаружил, качественным и техническим состоянием приобретаемого ТС удовлетворен,
    претензий к внешнему виду и техническому состоянию не имеет.
  </p>
  <p>
    В соответствии с п.3 ст. 368 Налогового Кодекса РК по согласованию сторон уплата Продавцом налога на продаваемое ТС,
     - является исполнением налогового обязательства Покупателя по уплате налога за текущий налоговый период
     по передаваемому объекту налогообложения.
  </p>
  <p>
    Продавец обязуется передать ТС, указанный в п. 1 настоящего договора, в течении 1 (одного) календарного дня
    с момента получения денежных средств.
  </p>
  <p>
    В соответствии со ст. 384, 385 ГК РК договор является возмездным, исполнение которого оплачивается по цене, установленной соглашением сторон в размере (сумме)
    {% if is_buyer or reregistration.seller_sign %}
      {% if reregistration.amount %}{{ reregistration.amount }}{% else %}'________'{% endif %}
    {% else %}
    <input type="text" class="reregistration-agreement-amount" value="{% if reregistration.amount %}{{reregistration.amount|floatformat:0}}{% endif %}" id="reregistrationAgreement{{reregistration.id}}amount">
    {% endif %}
     тенге, уплачиваемых Покупателем Продавцу.
  </p>
  <p>
    С требованиями статьи 152 Гражданского Кодекса Республики Казахстан ознакомлены.
  </p>
  <p>
    По соглашению сторон, в соответствии с п.3 ст.152 и п.1. ст. 394 ГК РК договор считается заключённым с момента
    придания ему условленной формы: - после проверки на предмет отсутствия арестов, запретов и ограничений,
    установленных в соответствии с законодательством РК, заверения подписей и скрепления настоящего договора печатью регистрационно-экзаменационного подразделения.
  </p>
  <p>
    Несоблюдение указанных требований, в соответствии с п.1 ст.157 ГК РК может повлечь признание настоящей сделки недействительной.
  </p>
  <h3>ПОДПИСИ СТОРОН</h3>
  {% if is_buyer %}
    <p class="agreementSign">Продавец: <br>
      <span id="sellerSign{{reregistration.id}}">
        {% if reregistration.seller_sign %}
          {% qr_from_text reregistration.seller_sign "l" %}
        {% endif %}
      </span>
    </p>
    <p class="agreementSign">Покупатель: <br>
      <span id="buyerSign{{reregistration.id}}">
        {% if reregistration.buyer_sign %}
          {% qr_from_text reregistration.buyer_sign "l" %}
        {% else %}
          <button data-reregistrationid="{{reregistration.id}}" data-side="buyer" class="btn btn-default sign-button">Подписать</button>
          <button data-reregistrationid="{{reregistration.id}}" class="btn btn-danger cancel-button">Отказаться от перерегистрации</button>
        {% endif %}
      </span>
    </p>
  {% else %}
    <p class="agreementSign">Продавец: <br>
      <span id="sellerSign{{reregistration.id}}">
        {% if reregistration.seller_sign %}
          {% qr_from_text reregistration.seller_sign "l" %}
        {% else %}
          <button data-reregistrationid="{{reregistration.id}}" data-side="seller" class="btn btn-default sign-button">Подписать</button>
          <button data-reregistrationid="{{reregistration.id}}" class="btn btn-danger cancel-button">Отказаться от перерегистрации</button>
        {% endif %}
      </span>
    </p>
    <p class="agreementSign">Покупатель: <br>
      <span id="buyerSign{{reregistration.id}}">
        {% if reregistration.buyer_sign %}
          {% qr_from_text reregistration.buyer_sign "l" %}
        {% endif %}
      </span>
    </p>
  {% endif %}

  <a class="btn btn-success" href="/cars/agreement/{{reregistration.id}}" target="_blank">Скачать в PDF</a>
</div>
