{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cars_filters %}
{% load qr_tags %}

{% block title %}Мои машины{% endblock %}
{% block styles %}
  <link href="{% static 'css/cars.css' %}" rel="stylesheet">
  <link href="{% static 'css/numbers.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/pki.js' %}"></script>
  <script src="{% static 'js/cars.js' %}"></script>
  <script src="{% static 'js/numbers.js' %}"></script>
  <script>
    // Название куки
    var cookie = 'enjoyhint_cars';
    // Селектор панели - по умолчанию панель 1
    // Если панель есть, то продолжаем
    if ( $('#carPanel1').length > 0 ) {
      // Проверяем есть ли кука, если нет запускаем hint
      if (!getCookie(cookie)) {
        // Создаем куку
        setCookie(cookie, 1, 60, 'cars');
        // Проверим регистрацию ТС
        var is_reg = false;
        if( $('#hintdereg1').length > 0 ) { is_reg = true; }
        // Работа с enjoyhint
        var enjoyhint_instance = new EnjoyHint({});
        var enjoyhint_script_steps = [
          {
            selector: '#carPanel1',
            event: 'click',
            description: 'Начало работы',
            showNext: true,
            nextButton: { text: 'Далее' },
            skipButton: { text: 'ОК' }
          },
          {
            selector: '#hintfine1',
            event: 'click',
            description: 'Проверьте и оплатите штрафы',
            showNext: true,
            nextButton: { text: 'Далее' },
            skipButton: { text: 'ОК' }
          },
          {
            selector: '#hinttax1',
            event: 'click',
            description: 'Проверьте и оплатите налоги',
            showNext: true,
            nextButton: { text: 'Далее' },
            skipButton: { text: 'ОК' }
          },
          {
            selector: '#hintrereg1',
            event: 'click',
            description: 'Пройдите перерегистрация авто',
            showNext: (is_reg) ? true : false,
            nextButton: { text: 'Или' },
            skipButton: { text: 'ОК' }
          }
        ];
        if(is_reg) {
          enjoyhint_script_steps.push({
            selector: '#hintdereg1',
            event: 'click',
            description: 'Снимите с учета',
            skipButton: { text: 'ОК' }
          });
        }
        enjoyhint_instance.set(enjoyhint_script_steps);
        enjoyhint_instance.run();
      }
    }
  </script>
{% endblock %}


{% block content %}
  {% include 'includes/header.html' with reregistrations=reregistrations %}
  <div class="container cars">
    {% for car in cars %}
      {% with car_taxes=car.tax_set.all car_fines=car.fine_set.all %}
        <div class="car col-xs-6" id="carPanel{{car.id}}">
          <div class="panel {% if car.is_registred %}panel-default{% else %}panel-warning{% endif %}">
            <div class="panel-heading">
              {{ car.manufacturer }} {{car.model}}
              <span class="pull-right">{% if car.is_registred %}{{ car.number }}{% else %}Снята с учета{% endif %}</span>
            </div>
            <div class="panel-body"><i>Инфо о машине</i></div>
            <div class='panel-footer'>
              <ul class="list-group">
                <!-- id для enjoyhint - 'hintfine{{car.id}}' -->
                <li id="hintfine{{car.id}}" class="list-group-item car-action">
                  <div class="panel panel-default {% if car|is_all_fines_paid %}panel-success{% else %}panel-danger{% endif %}">
                    <div class="collapsed panel-heading" data-target="#carFine{{car.number}}" data-toggle="collapse" aria-expanded="false">
                      <div class="car-action-text">{% if car_fines|length %}Штрафы{% else %}Штрафов нет{% endif %}</div>
                    </div>
                    <div id="carFine{{car.number}}" class="panel-body panel-collapse collapse">
                      <table class="table car-fines">
                        <tbody class="table-striped table-hover">
                          {% for fine in car_fines %}
                          <tr id="fine{{fine.id}}Row" class="{% if fine.is_paid %}text-success{% else %}text-danger{% endif %}">
                            <td class='col-xs-3'>{{fine.amount}} ₸</td>
                            <td class='col-xs-9'>{{fine.info}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
                <!-- id для enjoyhint - 'hinttax{{car.id}}' -->
                <li id="hinttax{{car.id}}" class="list-group-item car-action">
                  <div class="panel panel-default {% if car|is_all_taxes_paid %}panel-success{% else %}panel-danger{% endif %}">
                    <div class="collapsed panel-heading" data-target="#carTax{{car.number}}" data-toggle="collapse" aria-expanded="false">
                      <div class="car-action-text">Налоги</div>
                    </div>
                    <div id="carTax{{car.number}}" class="panel-body panel-collapse collapse">
                      <table class="table car-taxes">
                        <tbody class="table-striped table-hover">
                          {% for tax in car_taxes %}
                          <tr id="tax{{tax.id}}Row" class="{% if tax.is_paid %}text-success{% else %}text-danger{% endif %}">
                            <td class='col-xs-3'>{{tax.amount}} ₸</td>
                            <td class='col-xs-9'>{{tax.info}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
                {% if not car|is_all_taxes_paid or not car|is_all_fines_paid %}
                  <li class="list-group-item car-action">
                    <label type="button" class="btn btn-default btn-block pay-all-button {% if car|is_all_fines_paid or car|is_all_taxes_paid %}disabled{% endif %}" {% if not car|is_all_fines_paid and not car|is_all_taxes_paid %}data-toggle="modal" data-target="#payAllModal{{car.id}}"{% endif %}>
                      Оплатить задолжность
                    </label>
                    <div id="payAllModal{{car.id}}" class="modal fade payAllModal" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Оплата штрафов и налогов</h4>
                          </div>
                          <div class="modal-body">
                            <div class="step_1">
                              <ul class="list-group">
                                {% for fine in car_fines %}
                                  {% if not fine.is_paid %}
                                  <li class="list-group-item list-group-item-info">
                                    <label>
                                      <div class="col-xs-1"><input type=checkbox value="fine{{ fine.id }}" checked></div>
                                      <div class="col-xs-9">{{ fine.info }}</div>
                                      <div class="col-xs-2 pay-amount">{{ fine.amount }}&nbsp;₸</div>
                                    </label>
                                  </li>
                                  {% endif %}
                                {% endfor %}
                                {% for tax in car_taxes %}
                                  {% if not tax.is_paid %}
                                  <li class="list-group-item list-group-item-info">
                                    <label>
                                      <div class="col-xs-1"><input type=checkbox value="tax{{ tax.id }}" checked></div>
                                      <div class="col-xs-9">{{ tax.info }}</div>
                                      <div class="col-xs-2 pay-amount">{{ tax.amount }}&nbsp;₸</div>
                                    </label>
                                  </li>
                                  {% endif %}
                                {% endfor %}
                                <button class="btn btn-primary btn-lg btn-block payAllModalButton">
                                  Оплатить <span class="payAllModalAmount">0</span> ₸
                                </button>
                              </ul>
                            </div>
                            <div class="step_2" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}
                <!-- id для enjoyhint - 'hintrereg{{car.id}}' -->
                <li id="hintrereg{{car.id}}" class="list-group-item car-action">
                  <label type="button" class="btn btn-default btn-block reregistration-button {% if not car|is_all_fines_paid or not car|is_all_taxes_paid %}disabled{% endif %}" {% if car|is_all_fines_paid and car|is_all_taxes_paid %}data-toggle="modal" data-target="#reregistrationModal{{car.id}}"{% else %}data-toggle="tooltip" data-placement="bottom" title="Необходимо сначала оплатить задолжность"{% endif %}>
                    Перерегистрация авто
                  </label>
                  <div class="modal fade reregistrationModal" id="reregistrationModal{{car.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <iframe src="/cars/reregistration?side=seller&car={{car.id}}"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                {% if car.is_registred %}
                <!-- id для enjoyhint - 'hintdereg{{car.id}}' -->
                <li id="hintdereg{{car.id}}" class="list-group-item car-action">
                  <label type="button" class="btn btn-default btn-block deregistration-button {% if not car|is_all_fines_paid or not car|is_all_taxes_paid %}disabled{% endif %}" {% if car|is_all_fines_paid and car|is_all_taxes_paid %}data-toggle="modal" data-target="#deregistrationModal{{car.id}}"{% else %}data-toggle="tooltip" data-placement="bottom" title="Необходимо сначала оплатить задолжность"{% endif %}>
                    Снятие с учета
                  </label>
                  <div class="modal fade deregistrationModal" id="deregistrationModal{{car.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <iframe src="/cars/deregistration?car={{car.id}}"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endwith %}

    {% endfor %}
    <div class="car new_reg_car col-xs-6">
      <div class="new_reg_car_button"  data-toggle="modal" data-target="#registrationModal">
        <span class="glyphicon glyphicon-plus-sign"></span><br>
        Зарегистрировать ТС
      </div>
    </div>
    <div class="modal fade registration-modal" id="registrationModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <iframe src="/cars/registration"></iframe>
          </div>
        </div>
      </div>
    </div>
    {% for reregistration in reregistrations %}
      <div class="modal fade reregistrationModal reregistration-modal-buyer" id="reregistrationModalBuyer{{reregistration.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <iframe src="/cars/reregistration?side=buyer&car={{reregistration.car.id}}"></iframe>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include 'includes/footer.html' %}
{% endblock %}
