{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cars_filters %}

{% block title %}Мои машины{% endblock %}
{% block styles %}
  <link href="{% static 'css/flatpickr/datepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/cars.css' %}" rel="stylesheet">
  <link href="{% static 'css/numbers.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
  <script src="{% static 'js/flatpickr/datepicker.min.js' %}"></script>
  <script src="{% static 'js/flatpickr/ru.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootbox.min.js' %}"></script>
  <script src="{% static 'js/pki.js' %}"></script>
  <script src="{% static 'js/cars.js' %}"></script>
  <script src="{% static 'js/numbers.js' %}"></script>
{% endblock %}


{% block content %}
  {% include 'includes/header.html' with reregistrations=reregistrations %}
  <div class="container cars">
    {% for car in cars %}
      {% for tax in car.tax_set.all %}
        {% if not tax.is_paid %}
          <div class="modal pay-modal fade" id="tax{{tax.id}}PayModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body" id="tax{{tax.id}}PayFrameModal"></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% for fine in car.fine_set.all %}
        {% if not fine.is_paid %}
          <div class="modal pay-modal fade" id="fine{{fine.id}}PayModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body" id="fine{{fine.id}}PayFrameModal"></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="car col-xs-6" id="carPanel{{car.id}}">
        <div class="panel panel-default">
          <div class="panel-heading">{{ car.manufacturer }} {{car.model}}</div>
          <div class="panel-body"><i>Инфо о машине</i></div>
          <div class='panel-footer'>
            <ul class="list-group">
              <li class="list-group-item car-action">
                <div class="panel panel-default {% if car|is_all_fines_paid %}panel-success{% else %}panel-danger{% endif %}">
                  <div class="collapsed panel-heading" data-target="#carFine{{car.number}}" data-toggle="collapse" aria-expanded="false">
                    <div class="car-action-text">Штрафы</div>
                  </div>
                  <div id="carFine{{car.number}}" class="panel-body panel-collapse collapse">
                    <table class="table car-fines">
                      <tbody class="table-striped table-hover">
                        {% for fine in car.fine_set.all %}
                        <tr id="fine{{fine.id}}Row" class="{% if fine.is_paid %}text-success{% else %}text-danger{% endif %}">
                          <td class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>{{fine.amount}} ₸</td>
                          <td class='col-xs-7 col-sm-7 col-md-7 col-lg-7'>{{fine.info}}</td>
                          <td class='col-xs-2 col-sm-2 col-md-2 col-lg-2' id="fine{{fine.id}}PaidResult">
                            {% if fine.is_paid %}
                              <span>Оплачено</span>
                            {% else %}
                              <button class='btn btn-default pay-button' data-productId="fine{{fine.id}}" data-toggle="modal" data-target="#fine{{fine.id}}PayModal">
                                Оплатить
                              </button>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </li>
              <li class="list-group-item car-action">
                <div class="panel panel-default {% if car|is_all_taxes_paid %}panel-success{% else %}panel-danger{% endif %}">
                  <div class="collapsed panel-heading" data-target="#carTax{{car.number}}" data-toggle="collapse" aria-expanded="false">
                    <div class="car-action-text">Налоги</div>
                  </div>
                  <div id="carTax{{car.number}}" class="panel-body panel-collapse collapse">
                    <table class="table car-taxes">
                      <tbody class="table-striped table-hover">
                        {% for tax in car.tax_set.all %}
                        <tr id="tax{{tax.id}}Row" class="{% if tax.is_paid %}text-success{% else %}text-danger{% endif %}">
                          <td class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>{{tax.amount}} ₸</td>
                          <td class='col-xs-7 col-sm-7 col-md-7 col-lg-7'>{{tax.info}}</td>
                          <td class='col-xs-2 col-sm-2 col-md-2 col-lg-2' id="tax{{tax.id}}PaidResult">
                            {% if tax.is_paid%}
                              <span>Оплачено</span>
                            {% else %}
                              <button class='btn btn-default pay-button' data-productId="tax{{tax.id}}" data-toggle="modal" data-target="#tax{{tax.id}}PayModal">
                                Оплатить
                              </button>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </li>
              <li class="list-group-item car-action">
                <label type="button" class="btn btn-default btn-block reregistration-button {% if not car|is_all_fines_paid or not car|is_all_taxes_paid %}disabled{% endif %}" {% if car|is_all_fines_paid and car|is_all_taxes_paid %}data-toggle="modal" data-target="#reregistrationModal{{car.number}}"{% endif %}>
                  Перерегистрация авто
                </label>
                {% with reregistration=car.reregistration %}
                  <div class="modal fade reregistrationModal" id="reregistrationModal{{car.number}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <div class="row bs-wizard" style="border-bottom:0;">
                            <div class="col-xs-6 bs-wizard-step step_1 {% if not reregistration %}active{% else %}complete{% endif %}">
                              <div class="text-center bs-wizard-stepnum">Шаг 1</div>
                              <div class="progress"><div class="progress-bar"></div></div>
                              <label class="bs-wizard-dot"></label>
                              <div class="bs-wizard-info text-center">Данные покупателя</div>
                            </div>
                            <div class="col-xs-6 bs-wizard-step step_2 {% if not reregistration %}disabled{% else %}active{% endif %}">
                              <div class="text-center bs-wizard-stepnum">Шаг 2</div>
                              <div class="progress"><div class="progress-bar"></div></div>
                              <label class="bs-wizard-dot"></label>
                              <div class="bs-wizard-info text-center">Подписание договора</div>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" id='reregistration{{car.id}}reregistrationId' value="{% if reregistration %}reregistration.id{% endif%}">
                        <div class="modal-body">
                          <div class="step_1_body {% if reregistration %}hidden{% endif%}">
                            <div class="input-group input-group-lg">
                              <span class="input-group-addon" id="sizing-addon1">Введите ИИН покупателя</span>
                              <input type="text" maxlength="12" id="reregistration{{car.id}}BuyerIIN" class="form-control" placeholder="000000000000">
                              <span class="input-group-btn">
                                <button class="btn btn-default submit-iin-button" data-carid="{{car.id}}" type="button">Отправить</button>
                              </span>
                            </div>
                          </div>
                          <div class="step_2_body {% if not reregistration %}hidden{% endif%}">
                            {% include "cars/includes/agreement.html" with car=car reregistration=reregistration%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endwith %}
              </li>
              <li class="list-group-item car-action">
                <label type="button" class="btn btn-default btn-block deregistration-button {% if not car|is_all_fines_paid or not car|is_all_taxes_paid %}disabled{% endif %}" {% if car|is_all_fines_paid and car|is_all_taxes_paid %}data-toggle="modal" data-target="#deregistrationModal{{car.id}}"{% endif %}>
                  Снятие с учета
                </label>
                {% with deregistration=car.deregistration %}
                  <div class="modal fade deregistrationModal" id="deregistrationModal{{car.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <div class="row bs-wizard" style="border-bottom:0;">
                            <div class="col-xs-6 bs-wizard-step step_1 {% if not deregistration.is_paid %}active{% else %}complete{% endif %}">
                              <div class="text-center bs-wizard-stepnum">Шаг 1</div>
                              <div class="progress"><div class="progress-bar"></div></div>
                              <label class="bs-wizard-dot"></label>
                              <div class="bs-wizard-info text-center">Оплата транзитных номеров(опционально)</div>
                            </div>
                            <div class="col-xs-6 bs-wizard-step step_2 {% if not deregistration.is_paid %}disabled{% else %}active{% endif %}">
                              <div class="text-center bs-wizard-stepnum">Шаг 2</div>
                              <div class="progress"><div class="progress-bar"></div></div>
                              <label class="bs-wizard-dot"></label>
                              <div class="bs-wizard-info text-center">Сверка номеров</div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-body">
                          <div class="step_1_body {% if deregistration.is_paid %}hidden{% endif%}">
                            <div class="panel-group" id="dereg{{car.id}}NumberSelector" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                  <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#dereg{{car.id}}NumberPanel1">
                                      Без транзитных номеров
                                    </a>
                                  </h4>
                                </div>
                                <div id="dereg{{car.id}}NumberPanel1" class="panel-collapse collapse in" data-parent="#dereg{{car.id}}NumberSelector" role="tabpanel">
                                  <div class="panel-body">
                                    <button class="btn btn-warning no-transit-numbers-button" data-car-id='{{ car.id }}'>Мне не нужны транзитные номера</button>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#dereg{{car.id}}NumberPanel2">
                                      С транзитными номерами
                                    </a>
                                  </h4>
                                </div>
                                <div id="dereg{{car.id}}NumberPanel2" class="panel-collapse collapse" data-parent="#dereg{{car.id}}NumberSelector" role="tabpanel">
                                  <div class="panel-body">
                                    <button class="btn btn-success with-transit-numbers-button" data-car-id='{{ car.id }}'>Оплатить транзитные номера</button>
                                    <div id="dereg{{ car.id }}TransitNumbersPayFrame"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="step_2_body {% if not deregistration.is_paid %}hidden{% endif%}">
                            {% if deregistration.inspection %}
                              <p>
                                Ваша бронь: г. {{deregistration.inspection.center.city}} {{deregistration.inspection.center.address}},
                                {{deregistration.inspection.date}},
                                {{deregistration.inspection.time_range}}
                              </p>
                              <p>Вы можете изменить бронь:
                                <select class="inspection-place-input" id="inspectionPlaceInput{{deregistration.id}}">
                                {% for center in centers %}
                                  <option value="{{ center.pk }}">г. {{ center.city }}, {{ center.address }}</option>
                                {% endfor %}
                                </select>
                                <input type="date" id="inspectionDateInput{{deregistration.id}}" class="datepicker"></input>
                                <select class="inspection-time-input" id="inspectionTimeInput{{deregistration.id}}">
                                  <option>9:00-12:00</option>
                                  <option>12:00-15:00</option>
                                  <option>15:00-18:00</option>
                                </select>
                                <button class="btn btn-default deregistration-time-button" data-deregistrationid="{{ deregistration.id }}">Изменить бронь</button>
                              </p>
                            {% else %}
                              <p>Забронируйте удобное для вас время осмотра ТС на территории спецЦОНа:</p>
                              <p>
                                <select class="inspection-place-input" id="inspectionPlaceInput{{deregistration.id}}">
                                  {% for center in centers %}
                                    <option value="{{ center.pk }}">г. {{ center.city }}, {{ center.address }}</option>
                                  {% endfor %}
                                </select>
                                <input type="date" id="inspectionDateInput{{deregistration.id}}" class="datepicker"></input>
                                <select class="inspection-time-input" id="inspectionTimeInput{{deregistration.id}}">
                                  <option>9:00-12:00</option>
                                  <option>12:00-15:00</option>
                                  <option>15:00-18:00</option>
                                </select>
                                <button class="btn btn-default deregistration-time-button"  data-deregistrationid="{{ deregistration.id }}">Забронировать</button>
                              </p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endwith %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    {% for reregistration in reregistrations %}
      <div class="modal fade reregistrationModal reregistration-modal-buyer" id="reregistrationModalBuyer{{reregistration.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row bs-wizard" style="border-bottom:0;">
                <div class="col-xs-3 bs-wizard-step step_1 {% if reregistration.buyer_sign and reregistration.seller_sign %}complete{% else %}active{% endif %}">
                  <div class="text-center bs-wizard-stepnum">Шаг 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <label class="bs-wizard-dot"></label>
                  <div class="bs-wizard-info text-center">Подписание договора</div>
                </div>

                <div class="col-xs-3 bs-wizard-step step_2 {% if reregistration.number %}complete{% elif reregistration.buyer_sign and reregistration.seller_sign %}active{% else %}disabled{% endif %}">
                  <div class="text-center bs-wizard-stepnum">Шаг 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <label class="bs-wizard-dot"></label>
                  <div class="bs-wizard-info text-center">Выбор номера</div>
                </div>

                <div class="col-xs-3 bs-wizard-step step_3 {% if reregistration.is_tax_paid %}complete{% elif reregistration.number %}active{% else %}disabled{% endif %}">
                  <div class="text-center bs-wizard-stepnum">Шаг 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <label class="bs-wizard-dot"></label>
                  <div class="bs-wizard-info text-center">Оплата</div>
                </div>

                <div class="col-xs-3 bs-wizard-step step_4 {% if reregistration.is_tax_paid %}active{% else %}disabled{% endif %}">
                  <div class="text-center bs-wizard-stepnum">Шаг 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <label class="bs-wizard-dot"></label>
                  <div class="bs-wizard-info text-center">Запись на сверку</div>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="step_1_body {% if reregistration.buyer_sign and reregistration.seller_sign %}hidden{% endif%}">
                {% include "cars/includes/agreement.html" with car=car reregistration=reregistration is_buyer=True %}
              </div>
              <div class="step_2_body {% if not reregistration.buyer_sign or not reregistration.seller_sign or reregistration.number %}hidden{% endif %}">
                {% if reregistration.is_tax_paid %}
                  <div class="number">
                    <div class="row">
                      <span class="digits">{{ reregistration.number|slice:":3" }}</span>
                      <span class="chars">{{ reregistration.number|slice:"3:6" }}</span>
                      <span class="region">{{ reregistration.number|slice:"6:" }}</span>
                    </div>
                  </div>
                  <p class="text-warning">Невозможно сменить номер после оплаты!</p>
                {% else %}
                <div class="panel-group" id="reg{{reregistration.id}}NumberSelector" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#reg{{reregistration.id}}NumberPanel1">
                          Случайно сгенерированная последовательность
                        </a>
                      </h4>
                    </div>
                    <div id="reg{{reregistration.id}}NumberPanel1" class="panel-collapse collapse in" data-parent="#reg{{reregistration.id}}NumberSelector" role="tabpanel">
                      <div class="panel-body">
                        <label>
                        <input type="radio" name="reregistrationNumber" value="RANDOM" checked>
                          Получить случайно сгенерированную последовательность
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#reg{{reregistration.id}}NumberPanel2">
                          Выбрать из ранее купленных номеров
                        </a>
                      </h4>
                    </div>
                    <div id="reg{{reregistration.id}}NumberPanel2" class="panel-collapse collapse" data-parent="#reg{{reregistration.id}}NumberSelector" role="tabpanel">
                      <div class="panel-body">
                        {% if owned_numbers %}
                          {% for number in owned_numbers %}
                          <label>
                            <input type="radio" name="reregistrationNumber" value="{{ number.id }}">
                            <div class="number">
                              <div class="row">
                                <span class="digits">{{ number.digits }}</span>
                                <span class="chars">{{ number.characters }}</span>
                                <span class="region">{{ number.region }}</span>
                              </div>
                            </div>
                          </label>
                          {% endfor %}
                        {% else %}
                          У вас нету номеров
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#reg{{reregistration.id}}NumberPanel3">
                          Купить номер
                        </a>
                      </h4>
                    </div>
                    <div id="reg{{reregistration.id}}NumberPanel3" class="panel-collapse collapse" data-parent="#reg{{reregistration.id}}NumberSelector" role="tabpanel">
                      <div class="panel-body">
                        <div class="input-group" id="numberPlatesReregistrationSearchGroup">
                          <input type="text" class="form-control" placeholder="Поиск номеров...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Найти</button>
                          </span>
                        </div>
                        <div id="numberPlatesReregistrationNumbers">
                          {% for number in available_numbers %}
                          <label>
                            <input type="radio" name="reregistrationNumber" value="{{ number.pk }}">
                            <div class="number">
                              <div class="row">
                                <span class="digits">{{ number.digits }}</span>
                                <span class="chars">{{ number.characters }}</span>
                                <span class="region">{{ number.region }}</span>
                              </div>
                              <div class="btn btn-default btn-success">
                                Цена {{ number.get_price|intcomma }}₸
                              </div>
                            </div>
                          </label>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" data-regid="{{ reregistration.id }}" id="reregistrationStep2SubmitButton">Далее</button>
                {% endif %}
              </div>
              <div class="step_3_body {% if not reregistration.number or reregistration.is_tax_paid %}hidden{% endif %}">
                <div class="modal-body agreement-pay-modal" id="reg{{reregistration.id}}PayFrameModal"></div>
                {% if reregistration.number %}
                  {% if not reregistration.is_tax_paid %}
                    <script>window.onload = function() { loadRegPaymentPage({{ reregistration.id }}) }</script>
                  {% else %}
                    <div class="tax_is_paid_text">Оплата произведена</div>
                  {% endif %}
                {% endif %}
              </div>
              <div class="step_4_body {% if not reregistration.is_tax_paid %}hidden{% endif %}">
                {% if reregistration.inspection %}
                  <p>
                    Ваша бронь: г. {{reregistration.inspection.center.city}} {{reregistration.inspection.center.address}},
                    {{reregistration.inspection.date}},
                    {{reregistration.inspection.time_range}}
                  </p>
                  <p>Вы можете изменить бронь:
                    <select id="inspectionPlaceInput{{reregistration.id}}">
                    {% for center in centers %}
                      <option value="{{ center.pk }}">г. {{ center.city }}, {{ center.address }}</option>
                    {% endfor %}
                    </select>
                    <input type="date" id="inspectionDateInput{{reregistration.id}}" class="datepicker"></input>
                    <select id="inspectionTimeInput{{reregistration.id}}">
                      <option>9:00-12:00</option>
                      <option>12:00-15:00</option>
                      <option>15:00-18:00</option>
                    </select>
                    <button class="btn btn-default reserve-time-button" data-reregistrationid="{{ reregistration.id }}">Изменить бронь</button>
                  </p>
                {% else %}
                  <p>Забронируйте удобное для вас время осмотра ТС на территории спецЦОНа:</p>
                  <p>
                    <select id="inspectionPlaceInput{{reregistration.id}}">
                      {% for center in centers %}
                        <option value="{{ center.pk }}">г. {{ center.city }}, {{ center.address }}</option>
                      {% endfor %}
                    </select>
                    <input type="date" id="inspectionDateInput{{reregistration.id}}" class="datepicker"></input>
                    <select id="inspectionTimeInput{{reregistration.id}}">
                      <option>9:00-12:00</option>
                      <option>12:00-15:00</option>
                      <option>15:00-18:00</option>
                    </select>
                    <button class="btn btn-default reserve-time-button"  data-reregistrationid="{{ reregistration.id }}">Забронировать</button>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include 'includes/footer.html' %}
{% endblock %}
