{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cars_filters %}
{% load qr_tags %}

{% block title %}Мои машины{% endblock %}
{% block styles %}
  <link href="{% static 'css/flatpickr/datepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/cars.css' %}" rel="stylesheet">
  <link href="{% static 'css/numbers.css' %}" rel="stylesheet">
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/flatpickr/datepicker.min.js' %}"></script>
  <script src="{% static 'js/flatpickr/ru.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootbox.min.js' %}"></script>
  <script src="{% static 'js/pki.js' %}"></script>
  <script src="{% static 'js/cars.js' %}"></script>
  <script src="{% static 'js/numbers.js' %}"></script>
  <script src="{% static 'js/registration.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row bs-wizard" style="border-bottom:0;">
  <div class="col-md-5ths bs-wizard-step step_1 {% if registration %}complete{% else %}active{% endif %}">
    <div class="text-center bs-wizard-stepnum">Шаг 1</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <label class="bs-wizard-dot"></label>
    <div class="bs-wizard-info text-center">Информация о ТС</div>
  </div>

  <div class="col-md-5ths bs-wizard-step step_2 {% if registration %}complete{% else %}disabled{% endif %}">
    <div class="text-center bs-wizard-stepnum">Шаг 2</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <label class="bs-wizard-dot"></label>
    <div class="bs-wizard-info text-center">Правоустанавливающие документы</div>
  </div>

  <div class="col-md-5ths bs-wizard-step step_3 {% if registration.number %}complete{% elif registration %}active{% else %}disabled{% endif %}">
    <div class="text-center bs-wizard-stepnum">Шаг 3</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <label class="bs-wizard-dot"></label>
    <div class="bs-wizard-info text-center">Выбор номера</div>
  </div>

  <div class="col-md-5ths bs-wizard-step step_4 {% if registration.is_paid %}complete{% elif registration.number %}active{% else %}disabled{% endif %}">
    <div class="text-center bs-wizard-stepnum">Шаг 4</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <label class="bs-wizard-dot"></label>
    <div class="bs-wizard-info text-center">Оплата</div>
  </div>

  <div class="col-md-5ths bs-wizard-step step_5 {% if registration.is_paid %}active{% else %}disabled{% endif %}">
    <div class="text-center bs-wizard-stepnum">Шаг 5</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <label class="bs-wizard-dot"></label>
    <div class="bs-wizard-info text-center">Запись на сверку</div>
  </div>
</div>
<div class="step_1_body {% if registration %}hidden{% endif %}">
  <div class="input-group">
    <span class="input-group-addon">VIN-код ТС</span>
    <input type="text" class="form-control" id="newRegistrationVinCode">
    <span class="input-group-btn">
      <button class="btn btn-default" id="getVinCodeInformation">Получить информацию по VIN-коду</button>
    </span>
  </div>
  <div class="car-info">
    <div class="alert alert-warning" role="alert">Проверьте правильность введенных данных</div>
    <div class="input-group">
      <span class="input-group-addon">Производитель</span>
      <input type="text" class="form-control" id="newRegistrationManufacturer">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Модель</span>
      <input type="text" class="form-control" id="newRegistrationModel">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Год выпуска</span>
      <input type="text" class="form-control" id="newRegistrationYear">
    </div>
    <button class="btn btn-success" id="newRegistrationVinCodeButton">Отправить</button>
  </div>
</div>
<div class="step_2_body hidden">
  <form id="newRegistrationForm">
    <input type="hidden" class="form-control" name="vin_code" type="text">
    <input type="hidden" class="form-control" name="manufacturer" type="text">
    <input type="hidden" class="form-control" name="model" type="text">
    <input type="hidden" class="form-control" name="year" type="text">
    <label>
      <h3>
        Выберете документ подтверждающий право владения транспортным средством<br>
        (договор купли/продажи, доверенность и тд):
      </h3>
      <input type="file" multiple="multiple" name="documents">
    </label>
  </form>
  <button class="btn btn-primary btn-lg send-documents-button">Загрузить</button>
</div>
<div class="step_3_body {% if not registration or registration.number %}hidden{% endif %}">
  <div class="panel-group" id="reg{{registration.id}}NumberSelector" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" href="#reg{{registration.id}}NumberPanel1">
            Случайно сгенерированная последовательность
          </a>
        </h4>
      </div>
      <div id="reg{{registration.id}}NumberPanel1" class="panel-collapse collapse in" data-parent="#reg{{registration.id}}NumberSelector" role="tabpanel">
        <div class="panel-body">
          <label>
          <input type="radio" name="registrationNumber" value="RANDOM" checked>
            Получить случайно сгенерированную последовательность
          </label>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" href="#reg{{registration.id}}NumberPanel2">
            Выбрать из ранее купленных номеров
          </a>
        </h4>
      </div>
      <div id="reg{{registration.id}}NumberPanel2" class="panel-collapse collapse" data-parent="#reg{{registration.id}}NumberSelector" role="tabpanel">
        <div class="panel-body">
          {% if owned_numbers %}
            {% for number in owned_numbers %}
            <label>
              <input type="radio" name="registrationNumber" value="{{ number.id }}">
              <div class="number">
                <div class="row">
                  <span class="digits">{{ number.digits }}</span>
                  <span class="chars">{{ number.characters }}</span>
                  <span class="region">{{ number.region }}</span>
                </div>
              </div>
            </label>
            {% endfor %}
          {% else %}
            У вас нету номеров
          {% endif %}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" href="#reg{{registration.id}}NumberPanel3">
            Купить номер
          </a>
        </h4>
      </div>
      <div id="reg{{registration.id}}NumberPanel3" class="panel-collapse collapse" data-parent="#reg{{registration.id}}NumberSelector" role="tabpanel">
        <div class="panel-body">
          <div class="input-group" id="numberPlatesregistrationSearchGroup">
            <input type="text" class="form-control" placeholder="Поиск номеров...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Найти</button>
            </span>
          </div>
          <div id="numberPlatesregistrationNumbers">
            {% for number in available_numbers %}
            <label>
              <input type="radio" name="registrationNumber" value="{{ number.pk }}">
              <div class="number">
                <div class="row">
                  <span class="digits">{{ number.digits }}</span>
                  <span class="chars">{{ number.characters }}</span>
                  <span class="region">{{ number.region }}</span>
                </div>
                <div class="btn btn-default btn-success">
                  Цена {{ number.get_price|intcomma }}₸
                </div>
              </div>
            </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" data-regid="{{ registration.id }}" id="registrationStep3SubmitButton">Далее</button>
</div>
<div class="step_4_body {% if not registration.number or registration.is_paid %}hidden{% endif %}">
  <div class="modal-body pay-modal" id="newRegPayFrameModal"></div>
  {% if registration.number %}
    {% if not registration.is_tax_paid %}
      <script>window.onload = function() { loadRegPaymentPage({{ registration.id }}) }</script>
    {% else %}
      <div class="tax_is_paid_text">Оплата произведена</div>
    {% endif %}
  {% endif %}
</div>
<div class="step_5_body {% if not registration or not registration.is_paid %}hidden{% endif %}">
  {% if registration.inspection %}
    <p>
      Ваша бронь: г. {{registration.inspection.center.city}} {{registration.inspection.center.address}},
      {{registration.inspection.date}},
      {{registration.inspection.time}}
    </p>
    <p>Вы можете изменить бронь:
      <select id="inspectionPlaceInput">
      {% for center in centers %}
        <option value="{{ center.pk }}">г. {{ center.city }}, {{ center.address }}</option>
      {% endfor %}
      </select>
      <input type="date" id="inspectionDateInput" class="datepicker"></input>
      <select id="inspectionTimeInput">
        <option>9:00-12:00</option>
        <option>12:00-15:00</option>
        <option>15:00-18:00</option>
      </select>
      <button class="btn btn-default reserve-time-button" data-registrationid="{{ registration.id }}">Изменить бронь</button>
    </p>
  {% else %}
    <p>Забронируйте удобное для вас время осмотра ТС на территории спецЦОНа:</p>
    <p>
      <select id="inspectionPlaceInput">
        {% for center in centers %}
          <option value="{{ center.pk }}">г. {{ center.city }}, {{ center.address }}</option>
        {% endfor %}
      </select>
      <input type="date" id="inspectionDateInput" class="datepicker"></input>
      <select id="inspectionTimeInput">
        <option>9:00-12:00</option>
        <option>12:00-15:00</option>
        <option>15:00-18:00</option>
      </select>
      <button class="btn btn-default reserve-time-button"  data-registrationid="{{ registration.id }}">Забронировать</button>
    </p>
  {% endif %}
</div>
{% endblock %}
