<li><a href="#" data-target="#numberplatesModal" data-toggle="modal" aria-expanded="false">Мои номера</a></li>
<div class="modal fade numberplatesModal" id="numberplatesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#numberPlatesModalMy" role="tab" data-toggle="tab">Мои номера</a></li>
          <li role="presentation"><a href="#numberPlatesModalBuy" role="tab" data-toggle="tab">Купить номера</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="numberPlatesModalMy">
            Номеров не найдено
          </div>
          <div role="tabpanel" class="tab-pane" id="numberPlatesModalBuy">
            {% for number in available_numbers %}
              <div class="number">{{ number.digits }} {{ number.characters }} {{ number.region }}</div>
            {% endfor %}
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
