{% load humanize %}
<li><a href="#" data-target="#numberplatesModal" data-toggle="modal" aria-expanded="false">Мои номера</a></li>
<div class="modal fade numberplatesModal" id="numberplatesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#numberPlatesModalMy" role="tab" data-toggle="tab">Мои номера</a></li>
          <li role="presentation"><a href="#numberPlatesModalBuy" role="tab" data-toggle="tab">Купить номера</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="numberPlatesModalMy">
            {% if owned_numbers %}
              {% for number in owned_numbers %}
                <div class="number">
                  <div class="row">
                    <span class="digits">{{ number.digits }}</span>
                    <span class="chars">{{ number.characters }}</span>
                    <span class="region">{{ number.region }}</span>
                  </div>
                  <button data-full-number="{{ number.digits }}{{number.characters}}{{number.region}}" class="btn btn-default btn-primary number-info">
                    Куплено {{number.sale_date}} за {{ number.get_price|intcomma }}₸
                  </button>
                </div>
              {% endfor %}
            {% else %}
            <p>Номеров не найдено</p>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane" id="numberPlatesModalBuy">
            <div id="numberplatesPaymentContainer"></div>
            <div id="availableNumberList">
              <div class="input-group" id="numberPlatesModalBuySearchGroup">
                <input type="text" class="form-control" placeholder="Поиск номеров...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Найти</button>
                </span>
              </div>
              <div id="numberPlatesModalNumbers">
                {% for number in available_numbers %}
                  <div class="number">
                    <div class="row">
                      <span class="digits">{{ number.digits }}</span>
                      <span class="chars">{{ number.characters }}</span>
                      <span class="region">{{ number.region }}</span>
                    </div>
                    <button data-price="{{ number.get_price|intcomma }}" data-number-id="{{ number.id }}" class="btn btn-default btn-success buy-button">
                      Купить за {{ number.get_price|intcomma }}₸
                    </button>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
