.login-form-wrapper {
  width: 50%;
  margin: 100px auto;
}

.search-form-wrapper {
  width: 66.66666667%;
  margin: 10px auto;
}

.glyphicon-ok.success {
  color: #32CD32;
}

.glyphicon-ok.muted {
  color: #DFDFDF;
}

.filter-group {
  padding-left: 15px;
}

#pkiLoginError {
  margin-bottom: 20px;
  display: none;
}
