@font-face {
  font-family: 'LicensePlate';
  font-style: normal;
  font-weight: 400;
  src: local('LicensePlate'), local('LicensePlate-Regular'), url(/static/font/LicensePlate.woff2) format('woff2');
}

.number {
  width: 276px;
  display: inline-block;
  margin: 5px;
}


.number .row {
  background-image: url(/static/img/number_flag.jpg);
  background-position: 1% 35%;
  background-repeat: no-repeat;
  background-size: auto 60%;
  padding: 0 0 0 55px;
  font-family: 'LicensePlate';
  font-size: 45px;
  border: 2px solid #000;
  font-weight: bold;
  border-radius: 3px;
  margin: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.number .chars{
  font-size: 33px;
}

.number .region {
  float: right;
  display: inline-block;
  border-left: 2px solid #000;
  clear: both;
  padding: 2px;
}

.number .buy-button, .number .number-info {
  border: 2px solid #000;
  margin-top: -15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
}

#numberplatesModal .nav-tabs {
  margin-bottom: 15px;
}
