{% extends 'base.html' %}
{% load static %}
{% block title %}carbase.kz - АвтоЦОН онлайн{% endblock %}
{% block styles %}
  <link href="{% static 'css/controller.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/bootstrap/bootbox.min.js' %}"></script>
  <script src="{% static 'js/controller.js' %}"></script>
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    {% include 'controller/includes/search_form.html' %}
  {% else %}
    {% include 'controller/includes/login_form.html' %}
  {% endif %}
  <div class="panel-group col-md-8 col-md-offset-2" role="tablist">
    {% for inspection in inspections %}
    {% if inspection.reregistration %}{% with car=inspection.reregistration.car %}
      <div class="panel panel-default panel-inspection">
        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-target="#car{{car.id}}">
          <span class="panel-title">
            {{ car.manufacturer }} {{ car.model }} {{ car.number }} {{ car.user }}</span>
          <span class="pull-right">
            <i class="inspection-status">
            {% if inspection.is_success %}
              Инспекция завершена
            {% elif inspection.result %}
              В заключении отказано
            {% elif inspection.is_revision_success %}
              Ожидается заключение
            {% elif inspection.revision_result %}
              Отказано при осмотре ТС
            {% elif inspection.is_prelimenary_success %}
              Ожидается результат осмотра ТС
            {% elif inspection.prelimenary_result %}
              Отказано при предварительной проверке
            {% else %}
              Ожидается предварительная проверка
            {% endif %}
            </i>
            <span class="glyphicon {% if inspection.is_prelimenary_success %} glyphicon-ok success {% elif inspection.prelimenary_result %} glyphicon-remove text-danger {% else %} glyphicon-ok muted {% endif %}"></span>
            <span class="glyphicon {% if inspection.is_revision_success %} glyphicon-ok success {% elif inspection.revision_result %} glyphicon-remove text-danger {% else %} glyphicon-ok muted {% endif %}"></span>
            <span class="glyphicon {% if inspection.is_success %} glyphicon-ok success {% elif inspection.result %} glyphicon-remove text-danger {% else %} glyphicon-ok muted {% endif %}"></span>
          </span>
        </div>
        <div id="car{{car.id}}" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <p class="text-center">Подробная информация о ТС, продавце, покупателе.</p>
            <p class="text-center">Договор купли-продажи.</p>
            {% if inspection.prelimenary_result %}
              <p> Результат предварительной проверки: {{ inspection.prelimenary_result }} </p>
            {% elif is_allower %}
              <button class="btn btn-danger" data-toggle="modal" data-target="#declinePrelimenary{{inspection.id}}Modal">Отказать в регистрации ТС</button>
              <div class="modal fade" id="declinePrelimenary{{inspection.id}}Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Причина отказа</h4>
                    </div>
                    <div class="modal-body">
                      <textarea class="form-control" id="declinePrelimenary{{inspection.id}}Reason"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger decline-prelimenary-submit" data-inspectionid="{{ inspection.id }}">Отказать</button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success pull-right accept-prelimenary-submit" data-inspectionid="{{ inspection.id }}">Подтвердить предварительную проверку</button>
            {% elif is_revisor %}
              <p>Ожидается предварительная проверка</p>
            {% endif %}

            {% if inspection.revision_result %}
              <p> Результат осмотра ТС: {{ inspection.revision_result }} </p>
            {% elif inspection.is_prelimenary_success and is_revisor %}
              <button class="btn btn-danger" data-toggle="modal" data-target="#declineRevision{{inspection.id}}Modal">Отказать в регистрации ТС</button>
              <div class="modal fade" id="declineRevision{{inspection.id}}Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Причина отказа</h4>
                    </div>
                    <div class="modal-body">
                      <textarea class="form-control" id="declineRevision{{inspection.id}}Reason"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger decline-revision-submit" data-inspectionid="{{ inspection.id }}">Отказать</button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success pull-right accept-revision-submit" data-inspectionid="{{ inspection.id }}">Подтвердить осмотр ТС</button>
            {% elif inspection.is_prelimenary_success and is_allower %}
              <p>Ожидается осмотр ТС</p>
            {% endif %}

            {% if inspection.result %}
              <p> Результат заключения: {{ inspection.result }} </p>
            {% elif inspection.is_prelimenary_success and inspection.is_revision_success and is_allower %}
              <button class="btn btn-danger" data-toggle="modal" data-target="#declineFinal{{inspection.id}}Modal">Отказать в регистрации ТС</button>
              <div class="modal fade" id="declineFinal{{inspection.id}}Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Причина отказа</h4>
                    </div>
                    <div class="modal-body">
                      <textarea class="form-control" id="declineFinal{{inspection.id}}Reason"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger decline-final-submit" data-inspectionid="{{ inspection.id }}">Отказать</button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success pull-right accept-final-submit" data-inspectionid="{{ inspection.id }}">Подтвердить перерегистрацию</button>
            {% elif inspection.is_prelimenary_success and inspection.is_revision_success and is_allower %}
              <p>Ожидается заключение</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endwith %}{% endif %}
    {% endfor %}
  </div>
{% endblock %}
