{% load static %}
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="#"><img class="navbar-brand" src="{% static 'img/logo.png' %}"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.user.id %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ request.user.first_name }} {{ request.user.last_name }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Выход</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="https://egovidp.carbase.kz">Вход с помощью ЭЦП</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
