<div class="search-form-wrapper">
  <form action="" class="col-md-10" method="GET">
    <div class="input-group">
      <input type="text" class="form-control" name="q" value="{{request.GET.q}}" placeholder="Поиск по ИИН, VIN, номеру ТС, производителю ТС, марки ТС">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Поиск">
      </span>
    </div>
  </form>
  <button class="col-md-2 logout-button btn btn-default">Выход</button>
  <div class="btn-group filter-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-primary" data-filter="all">Все</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" data-filter="wait-prelimenary">Ожидают предварительной проверки</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" data-filter="wait-revision">Ожидают проверки ТС</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" data-filter="wait-final">Ожидают заключения</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" data-filter="ended">Закончено</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" data-filter="canceled">Отказано</button>
    </div>
  </div>
</div>
